language: java
jdk: 
- openjdk11

addons:
 sonarcloud:
    organization: "esposito-matteo190320202155"
    token: 9699af4d6b69ebd243a7d1d0cc0715e60e346a22

install: mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
script: mvn verify sonar:sonar -Dsonar.projectKey=Esposito-Matteo_bookkeeper -Pcoverage