language: java
jdk:
- openjdk11


addons:
  sonarcloud:
    organization: "esposito-matteo190320202155"
    token:
      secure: 9699af4d6b69ebd243a7d1d0cc0715e60e346a22

script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar

