language: java
jdk:
- openjdk8


addons:
  sonarcloud:
    organization: "esposito-matteo190320202155"
    token: 9699af4d6b69ebd243a7d1d0cc0715e60e346a22

script:
  # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
  #- mvn verify -DfailIfNoTests=false -Dmaven.test.failure.ignore=true org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar
- mvn package -DfailIfNoTests=false -Dmaven.test.failure.ignore=true org.jacoco:jacoco-maven-plugin:prepare-agent sonar:sonar
